In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

## client profile data

In [3]:
df_client = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_demo.txt')
df_client.head(2)
df_client.columns

Index(['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr',
       'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth'],
      dtype='object')

In [4]:
# clean column names

In [5]:
# check column : bal , balance?

In [6]:
df_client.shape

(70609, 9)

In [7]:
df_client.dtypes

client_id             int64
clnt_tenure_yr      float64
clnt_tenure_mnth    float64
clnt_age            float64
gendr                object
num_accts           float64
bal                 float64
calls_6_mnth        float64
logons_6_mnth       float64
dtype: object

In [8]:
df_client.duplicated().sum()

np.int64(0)

In [9]:
df_client['client_id'].duplicated().sum()

np.int64(0)

In [10]:
# handle null values
df_client.isna().sum()

client_id            0
clnt_tenure_yr      14
clnt_tenure_mnth    14
clnt_age            15
gendr               14
num_accts           14
bal                 14
calls_6_mnth        14
logons_6_mnth       14
dtype: int64

In [11]:
df_client.nunique()

client_id           70609
clnt_tenure_yr         54
clnt_tenure_mnth      482
clnt_age              165
gendr                   4
num_accts               8
bal                 70333
calls_6_mnth            8
logons_6_mnth           9
dtype: int64

In [12]:
df_client['clnt_tenure_mnth'].value_counts()

clnt_tenure_mnth
58.0     1711
70.0     1404
59.0     1282
71.0     1020
82.0      974
         ...
655.0       1
564.0       1
526.0       1
532.0       1
480.0       1
Name: count, Length: 482, dtype: int64

In [13]:
df_client['clnt_tenure_yr'].value_counts()

clnt_tenure_yr
6.0     7092
5.0     6955
7.0     4955
4.0     4687
15.0    4564
8.0     4045
14.0    3646
12.0    3631
13.0    3607
9.0     3357
11.0    2920
10.0    2775
16.0    2714
21.0    2257
20.0    1580
22.0    1492
17.0    1373
23.0    1279
18.0    1206
19.0    1153
24.0     846
26.0     660
27.0     632
28.0     507
25.0     484
3.0      449
29.0     309
30.0     303
33.0     206
32.0     191
34.0     175
31.0     166
35.0     102
2.0       81
36.0      36
37.0      35
38.0      33
48.0      16
39.0       9
40.0       9
55.0       9
50.0       8
47.0       6
43.0       6
42.0       6
46.0       5
51.0       5
49.0       4
44.0       3
52.0       2
54.0       1
41.0       1
45.0       1
62.0       1
Name: count, dtype: int64

In [14]:
# check values : U, X
df_client['gendr'].value_counts()

gendr
U    24122
M    23724
F    22746
X        3
Name: count, dtype: int64

In [15]:
df_client['num_accts'].value_counts()

num_accts
2.0    55497
3.0    12529
4.0     2241
5.0      284
6.0       33
7.0        8
1.0        2
8.0        1
Name: count, dtype: int64

In [16]:
df_client['calls_6_mnth'].value_counts()

calls_6_mnth
6.0    14112
1.0    11016
2.0    10252
3.0     8752
0.0     7732
4.0     7175
5.0     6627
7.0     4929
Name: count, dtype: int64

In [17]:
df_client['logons_6_mnth'].value_counts()

logons_6_mnth
9.0    12350
3.0    10243
4.0    10220
7.0     9893
5.0     9254
6.0     7878
8.0     4810
2.0     3009
1.0     2938
Name: count, dtype: int64

In [18]:
df_client.describe()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,num_accts,bal,calls_6_mnth,logons_6_mnth
count,7.060900e+04,70595.000000,70595.000000,70594.000000,70595.000000,7.059500e+04,70595.000000,70595.000000
mean,5.004992e+06,12.052950,150.659367,46.442240,2.255528,1.474452e+05,3.382478,5.566740
std,2.877278e+06,6.871819,82.089854,15.591273,0.534997,3.015087e+05,2.236580,2.353286
min,1.690000e+02,2.000000,33.000000,13.500000,1.000000,1.378942e+04,0.000000,1.000000
25%,2.519329e+06,6.000000,82.000000,32.500000,2.000000,3.734683e+04,1.000000,4.000000
50%,5.016978e+06,11.000000,136.000000,47.000000,2.000000,6.333290e+04,3.000000,5.000000
75%,7.483085e+06,16.000000,192.000000,59.000000,2.000000,1.375449e+05,6.000000,7.000000
max,9.999839e+06,62.000000,749.000000,96.000000,8.000000,1.632004e+07,7.000000,9.000000

## Digital Footprints data

In [19]:
df_footprints_1 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_web_data_pt_1.txt')
df_footprints_2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_web_data_pt_2.txt')

df_footprints_1.columns, df_footprints_2.columns

(Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object'),
 Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object'))

In [20]:
df_footprints_1.dtypes, df_footprints_2.dtypes

(client_id        int64
 visitor_id      object
 visit_id        object
 process_step    object
 date_time       object
 dtype: object,
 client_id        int64
 visitor_id      object
 visit_id        object
 process_step    object
 date_time       object
 dtype: object)

In [21]:
# date_time column, object dtype ---> datetime dtype(each value is datetime object)
df_footprints_1['date_time'] = pd.to_datetime(df_footprints_1['date_time'],errors = 'coerce')
df_footprints_1['date_time'].isna().sum()
df_footprints_2['date_time'] = pd.to_datetime(df_footprints_2['date_time'],errors = 'coerce')
df_footprints_2['date_time'].isna().sum()

np.int64(0)

In [22]:
df_footprints_1.shape, df_footprints_2.shape

((343141, 5), (412264, 5))

In [23]:
# handle duplicate rows 
df_footprints_1.duplicated().sum(), df_footprints_2.duplicated().sum()

(np.int64(2095), np.int64(8669))

In [24]:
df_footprints_1.isna().sum(), df_footprints_2.isna().sum()

(client_id       0
 visitor_id      0
 visit_id        0
 process_step    0
 date_time       0
 dtype: int64,
 client_id       0
 visitor_id      0
 visit_id        0
 process_step    0
 date_time       0
 dtype: int64)

In [25]:
df_footprints_1.nunique(), df_footprints_2.nunique()

(client_id        58391
 visitor_id       62936
 visit_id         75256
 process_step         5
 date_time       282666
 dtype: int64,
 client_id        67430
 visitor_id       71042
 visit_id         82841
 process_step         5
 date_time       346697
 dtype: int64)

In [26]:
df_footprints_1['process_step'].unique(), df_footprints_2['process_step'].unique()

(array(['step_3', 'step_2', 'step_1', 'start', 'confirm'], dtype=object),
 array(['confirm', 'step_3', 'step_2', 'step_1', 'start'], dtype=object))

## Experiment data

In [27]:

df_experiments = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_experiment_clients.txt')

df_experiments.columns, df_experiments.shape,df_experiments.dtypes

(Index(['client_id', 'Variation'], dtype='object'),
 (70609, 2),
 client_id     int64
 Variation    object
 dtype: object)

In [28]:
df_experiments.head(2)

   client_id Variation
0    9988021      Test
1    8320017      Test

In [29]:
df_experiments.duplicated().sum()

np.int64(0)

In [30]:
df_experiments['client_id'].duplicated().sum()

np.int64(0)

In [31]:
# handle null values in column 'Variation'
df_experiments.isna().sum()

client_id        0
Variation    20109
dtype: int64

In [32]:
df_experiments['Variation'].value_counts(normalize=True)

Variation
Test       0.53402
Control    0.46598
Name: proportion, dtype: float64